.heading-margin {
    margin-top: 25px;
}

.resume{
    color: #3f51b5;
    font-family: 'Inconsolata';
}

.project-heading {
    cursor: pointer;
}

.project-details-box {
    color: #3f51b5;
    border-style: solid;
    border-width: 5px;
    border-color: #3f51b5;
    margin-top: 25px;
    padding: 5px;
}

.resume-link {
    color: #3f51b5;
    border-style: solid;
    border-width: 5px;
    border-color: #3f51b5;
    padding: 10px;
    margin-top: 15%;
}

.resume-link:hover {
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
}

.education-heading {
    margin-bottom: 5px;
}

.education-date {
    margin: 0;
}

a{
    text-decoration: none;
}

.education {
    margin-bottom: 40px;
}

.author-name{
    float: right;
}

.avatar {
    height: 150px !important;
    width: 150px !important;
    margin-bottom: 40px;
}

.resume-heading {
    text-align: center;
}

@media screen and (max-width: 360px) {
    .resume-link {
        border: none;
        margin-top: 0;
    }
    
    .avatar {
        height: 40px !important;
        width: 40px !important;
        margin-bottom: 20px;
    }

    .resume-heading {
        margin-top: 0;
    }
}

@media screen and (max-width: 414px) {
    .avatar {
        height: 60px !important;
        width: 60px !important;
        margin-bottom: 20px;
    }

    .resume-link {
        margin-top: 0;
    }
}

