.intro{
    color: #3f51b5;
    font-family: 'Inconsolata';
}

.intro-box {
    color: #3f51b5;
    border-style: solid;
    border-width: 5px;
    border-color: #3f51b5;
    margin-top: 50px;
}

.intro-content {
    padding: 10px;
}

.buttons {
    margin-top: 100px;
}

.button {
    color: #3f51b5;
    border-style: solid;
    border-width: 5px;
    border-color: #3f51b5;
    padding: 10px;
}

.button:hover {
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
}

.buttons-medium {
    display: block;
}

.buttons-small {
    display: none;
}

.landing-page {
    text-align: center;
}


  @media screen and (max-width: 800px) {
    .buttons {
        margin-top: 50px;
    }
  }

  @media screen and (max-width: 415px) {
    .buttons-medium {
        display: none;
    }
    .buttons-small {
        display: block;
    }

    .buttons {
        margin-top: 15px;
    }

    .button {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .landing-heading {
        font-size: 1.2em;
    }
  }

